<div class="col-md-offset-2 col-md-10 alert alert-danger"
     ng-show="error">
    <button type="button" class="close" ng-click="clearError()">×</button>
    <strong>{{error}}</strong>
</div>


<div class="col-md-offset-2 col-md-10 alert alert-info"
     ng-show="info">
    <button type="button" class="close" ng-click="clearInfo()">×</button>
    <strong>{{info}}</strong>
</div>


<div class="col-md-offset-2 col-md-10 alert alert-success"
     ng-show="success">
    <button type="button" class="close" ng-click="clearSuccess()">×</button>
    <strong>{{success}}</strong>
</div>

