<!--IN-->
<!--name-->
<!--label-->
<!--optionLabel-->
<!--items-->
<!--NOTE: item need prop title-->
<!--OUT-->
<!-- resultItem="model.item" -->
<div class="form-group">
    <label for="{{name}}" class="col-md-2 control-label">{{label}}</label>
    <div class="col-md-10">
        <select id="{{name}}" name="{{name}}" class="form-control"
                ng-options="item as item.title for item in (items | otherid:category) track by item.$id"
                ng-model="resultItem"
                ng-required="req"
        >
            <option value="">-- {{optionLabel}} --</option>

        </select>
    </div>
</div>





