<div>
    <ul class="nav nav-pills">
        <li ng-show="!navList"><a ui-sref="item.list"><i class="material-icons">list</i></a></li>
        <li ng-show="navList" class="active"><a href="#"><i class="material-icons">list</i>{{numbersItem}}</a></li>
        <li ng-show="!navCreate"><a ui-sref="item.create"><i class="material-icons">add</i><i class="material-icons">list</i></a></li>
        <li ng-show="navCreate" class="active"><a href="#"><i class="material-icons">add</i><i class="material-icons">list</i></a>
        </li>
        <li ng-show="navEdit" class="active"><a href="#"><i class="material-icons">edit</i><i class="material-icons">list</i></a></li>
    </ul>
</div>