    <section class="well">

        <form name="updateUserForm" class="form-horizontal"
              ng-submit="update()"
              novalidate>

            <fieldset>

                <legend>Редактирование пользователя {{user.email}}</legend>

                <form-select-items label="Выберите место работы" name="workInPlace" option-label="Выберите место работы - точку продаж" items="workpoints"
                                   result-item="user.workpoint" req="true">

                </form-select-items>

                <form-error-message
                        show-error-expr="createUserForm.workInPlace.$invalid && createUserForm.workInPlace.$touched"
                        error-message="Выберите место работы"
                ></form-error-message>


                <input-text label="Фамилия" name="lastname" model="user.lastname"></input-text>

                <input-text label="Имя" name="firstname" model="user.firstname"></input-text>

                <input-text label="Отчество" name="middlename" model="user.middlename"></input-text>


<form-radio-enabled name="enabled" model="user" label="Работает"></form-radio-enabled>

            </fieldset>

            <progress-action show="showLoading" message="Редактирование пользователя"></progress-action>
        <form-btn-submit text="Обновить" disabled-condition="updateUserForm.$invalid || showLoading"></form-btn-submit>
        </form>

        <btn-back route="user.list"></btn-back>

    </section>

