<section class="well">
    <form name="createWorkpoint" class="form-horizontal"
          ng-submit="create()"
          novalidate>

        <div class="">
            <h2>Добавить точку продаж</h2>
            <p class="message" ng-show="message">{{ message }}</p>
        </div>

        <fieldset>

            <input-text label="Название точки продажи - магазина"
                        type="text"
                        name="title"
                        model="workpoint.title"
                        req="true"
            ></input-text>
            <form-error-message
                    show-error-expr="createWorkpoint.title.$invalid && createWorkpoint.title.$touched"
                    error-message="Укажите название"
            ></form-error-message>

            <input-text label="Адрес точки продаж" name="location" model="workpoint.location"></input-text>
<form-input-number
        label="Наценка или скидка на продукцию"
        name="percentRate"
        model="workpoint.percentRate"
        req="true"
        min="-99"
        max="1000"
></form-input-number>





        </fieldset>
        <progress-action show="showLoading" message="Создание точки"></progress-action>
        <form-btn-submit text="Добавить" disabled-condition="createWorkpoint.$invalid || showLoading"></form-btn-submit>

    </form>
</section>