<section class="well">
  <form name="regForm"
    ng-submit="register()"
    novalidate>

    <div class="textintro">
      <h1>Регистрация</h1>
      <p class="message" ng-show="message">{{ message }}</p>
    </div>

    <fieldset>

      <input-text label="Адрес электронной почты"
                  type="email"
                  name="email"
                  model="user.email"
                  req="true"
      ></input-text>
      <form-error-message
              show-error-expr="regForm.email.$invalid && regForm.email.$touched"
              error-message="Должнен быть рабочий адресс"
      ></form-error-message>


      <input-text label="Пароль"
                  type="password"
                  name="password"
                  model="user.password"
                  req="true"
      ></input-text>
      <form-error-message
              show-error-expr="regForm.password.$invalid && regForm.password.$touched"
              error-message="Введите пароль"
      ></form-error-message>

      <input-text label="Название фирмы"
                  type="text"
                  name="company"
                  model="user.company"
                  req="true"
      ></input-text>
      <form-error-message
              show-error-expr="regForm.company.$invalid && regForm.company.$touched"
              error-message="Введите название фирмы"
      ></form-error-message>

      <input-text label="Фамилия" name="lastname" model="user.lastname"></input-text>

      <input-text label="Имя" name="firstname" model="user.firstname"></input-text>

      <input-text label="Отчество" name="middlename" model="user.middlename"></input-text>


    </fieldset>


    <form-btn-submit text="Зарегистрироваться" icon-text="verified_user" disabled-condition="regForm.$invalid || showLoading" ></form-btn-submit>

    <progress-action show="showLoading" message="Регистрация"></progress-action>

    <div  ng-hide="loginForm.$valid">
      <btn-link state="login" text="Войти" icon-text="account_circle"></btn-link>
    </div>

  </form>
</section>
