<section class="well">
    <form  name="editWorkpoint" class="form-horizontal"
          ng-submit="update()"
          novalidate>

        <div class="">
            <h2>Редактирование точки</h2>
            <p class="message" ng-show="message">{{ message }}</p>
        </div>

        <fieldset>

            <input-text label="Название точки продажи - магазина"
                        type="text"
                        name="title"
                        model="workpoint.title"
                        req="true"
            ></input-text>
            <form-error-message
                    show-error-expr="editWorkpoint.title.$invalid && editWorkpoint.title.$touched"
                    error-message="Укажите название"
            ></form-error-message>

            <input-text label="Адрес точки продаж" name="location" model="workpoint.location"></input-text>


            <form-input-number
                    label="Наценка или скидка на продукцию"
                    name="percentRate"
                    model="workpoint.percentRate"
                    req="true"
                    min="-99"
                    max="1000"
            ></form-input-number>

           <form-radio-enabled label="Работает" name="enabled" model="workpoint"></form-radio-enabled>

        </fieldset>

        <progress-action show="showLoading" message="Обновление точки"></progress-action>

        <form-btn-submit text="Обновить" disabled-condition="editWorkpoint.$invalid || showLoading"></form-btn-submit>

    </form>

    <btn-back route="workpoint.list"></btn-back>

</section>