<div>
    <div class="well">


        <h2 class="">Список заявок</h2>
        <div ng-show="requests.length == 0">
            <h3>Заявок нет!</h3>
        </div>

        <message-info></message-info>

        <table class="table table-striped">

            <thead>
            <tr>

                <th class="hidden-xs">
                    Дата создания
                </th>
                <th>
                    Заголовок
                </th>
                <th class="hidden-xs">
                    Текст
                </th>

                <th ng-show="hasOwnerFeatures" class="hidden-xs">
                    Точка продаж
                </th>

            </tr>
            </thead>
            <tbody>


            <input ng-model="startDate">
            <input ng-model="endDate">


            <tr ng-repeat="request in requests |usercreated:currentUser:hasOwnerFeatures|daterange:startDate:endDate">

                <td>
                    <strong>{{request.created | date:'dd-MM-yyyy HH:mm:ss' }}</strong>
                </td>

                <td>
                    <strong>{{ request.title }}</strong></a>

                </td>
                <td class="hidden-xs">
                    <strong>{{ request.body}}</strong>
                </td>

                <td ng-show="hasOwnerFeatures" class="hidden-xs">
                    <strong>{{ getWorkpointName(request.workpointId)}}</strong>
                </td>

            </tr>
            <tr>
                <td></td>
                <td class="hidden-xs"></td>
                <td ng-show="hasOwnerFeatures" class="hidden-xs">
                </td>
                <td>
                    <btn-fab-add route="request.create"></btn-fab-add>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>