
<div ng-show="message" class="well">
    <p class="message" ng-show="message">{{ message }}</p>
</div>

<section class="well">


    <div ng-show="categories.length == 0">
        <strong></strong>
        Для создния товара(услусги), необходимо сначала создать категорию <btn-fab-add route="category.create"></btn-fab-add>
    </div>

    <form ng-show="categories.length > 0" name="createItemForm" class="form-horizontal"
          ng-submit="create()"
          novalidate>

<fieldset>

            <legend>Добавить товар (услугу)</legend>

    <input-text label="Назвние"
                type="text"
                name="title"
                model="item.title"
                req="true"
    ></input-text>

    <form-error-message
            show-error-expr="createItemForm.title.$invalid && createItemForm.title.$touched"
            error-message="Обязательное поле"
    ></form-error-message>



    <form-select-items label="Категория" name="targetCategory" option-label="Выберите категорию" items="categories"
                       result-item="item.category" req="true">

    </form-select-items>


    <form-error-message
            show-error-expr="createItemForm.targetCategory.$invalid && createItemForm.targetCategory.$touched"
            error-message="Выберите категорию"
    ></form-error-message>



    <form-input-number
            label="Цена"
            name="price"
            model="item.price"
            req="true"
            min="0"
    ></form-input-number>



    <input-text label="Артикул" name="article" model="item.article"></input-text>
    <input-text label="Описание" name="description" model="item.description"></input-text>

        </fieldset>
        <progress-action show="showLoading" message="Создание товара услуги..."></progress-action>
        <form-btn-submit text="Создать товар (услугу)" disabled-condition="createItemForm.$invalid || showLoading"></form-btn-submit>
    </form>
</section>