<section class="well">
    <form  name="editCategory" class="form-horizontal"
          ng-submit="update()"
          novalidate>

        <div class="">
            <h2>Редактирование категории - {{ category.name }}</h2>
            <p class="message" ng-show="message">{{ message }}</p>
        </div>

        <fieldset>

            <input-text label="Название категории для товара (услуги)"
                        type="text"
                        name="title"
                        model="category.title"
                        req="true"
            ></input-text>
            <form-error-message
                    show-error-expr="createCategory.title.$invalid && createCategory.title.$touched"
                    error-message="Укажите название категории"
            ></form-error-message>


            <form-input-number
                    label="Приоритет для отображения"
                    name="priority"
                    model="category.priority"
                    req="true"
                    min="1"
                    max="1000"
            ></form-input-number>

           <form-radio-enabled label="Работает" name="enabled" model="category"></form-radio-enabled>

        </fieldset>


        <progress-action show="showLoading" message="Обновление"></progress-action>

        <form-btn-submit text="Обновить" disabled-condition="editCategory.$invalid || showLoading"></form-btn-submit>


    <btn-back route="category.list"></btn-back>

    </form>
</section>