    <section class="well">

        <form name="updateUserForm" class="form-horizontal"
              ng-submit="update()"
              novalidate>

            <fieldset>

                <legend>Редактирование пользователя {{user.email}}</legend>


                <div ng-show="!user.workpointId">

                    <div class="alert alert-danger">
                        <strong>Для добавления продаж необходимо указать точку продаж</strong>
                    </div>
                </div>

                <form-select-items label="Выберите место работы" name="workInPlace" option-label="Выберите место работы - точку продаж" items="workpoints"
                                   result-item="user.workpoint" req="true">

                </form-select-items>

                <form-error-message
                        show-error-expr="createUserForm.workInPlace.$invalid && createUserForm.workInPlace.$touched"
                        error-message="Выберите место работы"
                ></form-error-message>


                <input-text label="Фамилия" name="lastname" model="user.lastname"></input-text>

                <input-text label="Имя" name="firstname" model="user.firstname"></input-text>

                <input-text label="Отчество" name="middlename" model="user.middlename"></input-text>

                <input-text label="Название фирмы"
                            type="text"
                            name="company"
                            model="user.company"
                            req="true"
                ></input-text>
                <form-error-message
                        show-error-expr="updateUserForm.company.$invalid && updateUserForm.company.$touched"
                        error-message="Введите название фирмы"
                ></form-error-message>


            </fieldset>

            <progress-action show="showLoading" message="Редактирование пользователя"></progress-action>
        <form-btn-submit text="Обновить" disabled-condition="updateUserForm.$invalid || showLoading"></form-btn-submit>
        </form>

        <btn-back route="user.list"></btn-back>

    </section>

