<section class="well">
    <form name="createCategory" class="form-horizontal"
          ng-submit="create()"
          novalidate>

        <div class="">
            <h2>Добавить категорию</h2>
            <p class="message" ng-show="message">{{ message }}</p>
        </div>

        <fieldset>

            <input-text label="Название категории для товара (услуги)"
                        type="text"
                        name="title"
                        model="category.title"
                        req="true"
            ></input-text>

            <form-error-message
                    show-error-expr="createCategory.title.$invalid && createCategory.title.$touched"
                    error-message="Укажите название категории"
            ></form-error-message>


<form-input-number
        label="Приоритет для отображения"
        name="priority"
        model="category.priority"
        req="true"
        min="1"
        max="1000"
></form-input-number>


        </fieldset>
        <progress-action show="showLoading" message="Создание категории"></progress-action>
        <form-btn-submit text="Добавить" disabled-condition="createCategory.$invalid || showLoading"></form-btn-submit>

    </form>
</section>