<div class="row">
    <ul class="nav nav-pills">
        <li ng-show="!navList"><a ui-sref="request.list"><i class="material-icons">announcement</i></a></li>
        <li ng-show="navList" class="active"><a href="#"><i class="material-icons">announcement</i>{{numbersRequest}}</a></li>
        <li ng-show="!navCreate"><a ui-sref="request.create"><i class="material-icons">add</i><i class="material-icons">announcement</i></a></li>
        <li ng-show="navCreate" class="active"><a href="#"><i class="material-icons">add</i><i class="material-icons">announcement</i></a>
        </li>
    </ul>
</div>


