<div>
    <ul class="nav nav-pills">
        <li ng-show="!navList"><a ui-sref="order.list"><i class="material-icons">label</i></a></li>
        <li ng-show="navList" class="active"><a href="#"><i class="material-icons">label</i>{{numbersOrder}}</a></li>
        <li ng-show="!navCreate"><a ng-click="createOrder()"><i class="material-icons">add</i><i class="material-icons">label</i></a></li>
        <li ng-show="navCreate" class="active"><a href="#"><i class="material-icons">add</i><i class="material-icons">label</i></a>
        </li>
        <li ng-show="navEdit" class="active"><a href="#"><i class="material-icons">edit</i><i class="material-icons">label</i></a></li>
    </ul>
</div>