<div>
    <div class="well">


        <h2 class="">Список категорий товаров (услуг)</h2>
        <div ng-show="categories.length == 0">
            <h3>Категорий нет. Создайте новую категорию!</h3>
        </div>

        <message-info></message-info>

        <!--ng-show="categoriesListCtrl.categories"-->
        <table class="table table-striped">
            <thead>
            <tr>

                <th>
                    Приоритет
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Название
                </th>

            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="category in categories | orderBy : '-priority' : true">

               <td>
                   <span class="label label-info">Приоритет: <strong>{{ category.priority}}</strong></span>
               </td>
                <td>
                    <span ng-show="!category.enabled" class="label label-default">Не активна</span>
                    <span ng-show="category.enabled" class="label label-success">Активна</span>
                </td>
                <td>
                    <a class="btn-block"  ui-sref="category.edit({id:category.$id})">

                        <strong>{{ category.title}}</strong></a>
                </td>
            </tr>
            <tr>

                <td></td>
                <td></td>
                <td>
                    <btn-fab-add route="category.create"></btn-fab-add>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>