<div xmlns="http://www.w3.org/1999/html">
    <div class="well">


        <h2 class="">Список точек продаж</h2>
        <div ng-show="workpoints.length == 0">
            <h3>Точек продаж еше нет.Создайте новую!</h3>
        </div>

        <message-info></message-info>

        <table class="table table-striped">

            <thead>
            <tr>

                <th class="hidden-xs">
                    Статус
                </th>
                <th>
                    Название
                </th>
                <th class="hidden-xs">
                    Расположение
                </th>

                <th class="hidden-xs">
                    Наценка (скидка если минус)
                </th>

            </tr>
            </thead>
<tbody>
            <tr ng-repeat="workpoint in workpoints">
                <td class="hidden-xs">
                    <span ng-show="!workpoint.enabled" class="label label-default">Не работет</span>
                    <span ng-show="workpoint.enabled" class="label label-success">Работает</span>
                </td>

                <td>
                    <a class="btn-block"  ui-sref="workpoint.edit({id:workpoint.$id})">

                        <strong>{{ workpoint.title }}</strong></a>
                </td>
                <td class="hidden-xs">
                    <strong>{{ workpoint.location}}</strong>
                </td>
                <td class="hidden-xs">
                    <strong>{{ workpoint.percentRate}}% </strong>
                </td>
            </tr>
            <tr>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td>
                    <btn-fab-add route="workpoint.create"></btn-fab-add>
                </td>
            </tr>
</tbody>
        </table>

    </div>
</div>