<section class="well">
    <form name="createRequest" class="form-horizontal"
          ng-submit="create()"
          novalidate>

        <div class="">
            <h2>Добавить завку</h2>
            <p class="message" ng-show="message">{{ message }}</p>
        </div>

        <fieldset>

            <input-text label="Заголовок заявки"
                        type="text"
                        name="title"
                        model="request.title"
                        req="true"
            ></input-text>
            <form-error-message
                    show-error-expr="createRequest.title.$invalid && createRequest.title.$touched"
                    error-message="Укажите название"
            ></form-error-message>

            <input-text label="Текст заявки"
                        type="text"
                        name="body"
                        model="request.body"

            ></input-text>

        </fieldset>
        <progress-action show="showLoading" message="Создание заявки"></progress-action>
        <form-btn-submit text="Создать" disabled-condition="createRequest.$invalid || showLoading"></form-btn-submit>

    </form>
</section>