<div>
    <div class="well">
        <h2 class="">Список товаров (услуг)</h2>
        <div ng-show="items.length == 0">
            <h3>Товаров (услуг) нет.</h3>
        </div>

        <message-info></message-info>




        <form-select-items label="Фильтр по категориям" name="targetCategory" option-label="Вce" items="categories"
                           result-item="category" >

        </form-select-items>


        <table class="table table-striped">

            <thead>
            <tr>

                <th class="hidden-xs">
                    Статус
                </th>
            <th>
                Название
            </th>
            <th class="hidden-xs">
                Наименование (артикул)
            </th>

            <th>
                Цена
            </th>
                <th class="hidden-xs">
                    Описание
                </th>

            <th >
                Категория
            </th>


            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="item in items | filter: { categoryId: category.$id } ">

                <td class="hidden-xs">
                    <span ng-show="!item.enabled" class="label label-default">Не активен</span>
                    <span ng-show="item.enabled" class="label label-success">Активен</span>
                </td>
                <td>

                    <a class="btn-block"  ui-sref="item.edit({id:item.$id})">
                        <strong>{{ item.title }}</strong>
                    </a>
                </td>
                <td class="hidden-xs">
                    <strong>{{item.article}}</strong>
                </td>
                <td>
                    <strong>{{item.price}}</strong>
                </td>
                <td class="hidden-xs">
                    <strong>{{item.description}}</strong>
                </td>
<td>
    {{getCategoryName(item)}}
</td>
            </tr>
            <tr>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>
                <td></td>
                <td></td>
                <td>
                    <btn-fab-add route="item.create"></btn-fab-add>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
</div>