<div class="row">
    <ul class="nav nav-pills">
        <li ng-show="!navList"><a ui-sref="user.list"><i class="material-icons">face</i></a></li>
        <li ng-show="navList" class="active"><a href="#"><i class="material-icons">face</i>{{numbersUser}}</a></li>
        <li ng-show="!navCreate"><a ui-sref="user.create"><i class="material-icons">add</i><i class="material-icons">face</i></a></li>
        <li ng-show="navCreate" class="active"><a href="#"><i class="material-icons">add</i><i class="material-icons">face</i></a>
        </li>
        <li ng-show="navEdit" class="active"><a href="#"><i class="material-icons">edit</i><i class="material-icons">face</i></a></li>
    </ul>
</div>


