<div ng-show="message" class="well">
    <p class="message" ng-show="message">{{ message }}</p>
</div>

<section class="well">


    <form name="createOrderItem" class="form-horizontal"
          ng-submit="create()"
          novalidate>

        <fieldset>

            <legend>Добавить позицию к заказу</legend>


            <form-select-items label="Выберите категорию товара" name="category" option-label="Выберите категрию товара" items="categories"
                               result-item="orderItem.category" req="true">

            </form-select-items>

            <form-error-message
                    show-error-expr="createOrderItem.category.$invalid && createOrderItem.category.$touched"
                    error-message="Выберите категорию"
            ></form-error-message>


            <form-select-items-by-category label="Выберите товар" name="item" option-label="Выберите товар" items="items"
                               result-item="orderItem.item" category="orderItem.category" req="true">
            </form-select-items-by-category>

            <form-error-message
                    show-error-expr="createOrderItem.item.$invalid && createOrderItem.item.$touched"
                    error-message="Выберите категорию"
            ></form-error-message>



            <form-input-number
                    label="Количество"
                    name="count"
                    model="orderItem.count"
                    req="true"
                    min="1"
                    max="1000"
            ></form-input-number>


            <h3>Стоимость {{calculateCost()}}</h3>

        </fieldset>
        <progress-action show="showLoading" message="Добавление позиции к заказу"></progress-action>
        <form-btn-submit text="Создать" disabled-condition="createOrderItem.$invalid || showLoading"></form-btn-submit>

        <a class="btn btn-default btn-raised" ui-sref="order.create({id:order.$id})"><i class="material-icons">keyboard_backspace</i></a>
    </form>
</section>