
<div ng-show="message" class="well">
    <p class="message" ng-show="message">{{ message }}</p>
</div>

<section class="well">


    <div ng-show="workpoints.length == 0">
        <strong></strong>
        Для создния пользвателя, необходимо сначала создать точку продаж <btn-fab-add route="workpoint.create"></btn-fab-add>
    </div>

    <form ng-show="workpoints.length > 0" name="createUserForm" class="form-horizontal"
          ng-submit="create()"
          novalidate>

<fieldset>

            <legend>Добавить пользователя</legend>

    <input-text label="Адрес электронной почты"
                type="email"
                name="email"
                model="user.email"
                req="true"
    ></input-text>
    <form-error-message
            show-error-expr="createUserForm.email.$invalid && createUserForm.email.$touched"
            error-message="Обязательное поле - должно быть корректным адресом"
    ></form-error-message>



    <form-select-items label="Выберите место работы" name="workInPlace" option-label="Выберите место работы - точку продаж" items="workpoints"
                       result-item="user.workpoint" req="true">

    </form-select-items>

    <form-error-message
            show-error-expr="createUserForm.workInPlace.$invalid && createUserForm.workInPlace.$touched"
            error-message="Выберите место работы"
    ></form-error-message>


    <input-text label="Пароль"
                type="password"
                name="password"
                model="user.password"
                req="true"
    ></input-text>
    <form-error-message
            show-error-expr="createUserForm.password.$invalid && createUserForm.password.$touched"
            error-message="Пароль обязателен"
    ></form-error-message>


    <input-text label="Фамилия" name="lastname" model="user.lastname"></input-text>


    <input-text label="Имя" name="firstname" model="user.firstname"></input-text>



    <input-text label="Отчество" name="middlename" model="user.middlename"></input-text>


        </fieldset>
        <progress-action show="showLoading" message="Создание пользователя"></progress-action>
        <form-btn-submit text="Создать" disabled-condition="createUserForm.$invalid || showLoading"></form-btn-submit>
    </form>
</section>