<section class="well">

  <form name="loginForm"
    ng-submit="login()"
    novalidate>

    <div class="textintro">
      <h1>Добро пожаловать!</h1>
      <p>Вход в систему мониторинга продаж и учета заявок</p>


      <div class="alert message alert-danger" ng-show="message" >
       <strong>{{ message }}</strong>
      </div>



    </div>

    <div ng-show="showLoading" class="progress progress-striped active">
      <div class="progress-bar" style="width: 100%"></div>
    </div>

    <fieldset>


      <input-text label="Адрес электронной почты"
                  type="email"
                  name="email"
                  model="user.email"
                  req="true"
      ></input-text>
      <form-error-message
              show-error-expr="loginForm.email.$invalid && loginForm.email.$touched"
              error-message="Обязательное поле - должно быть корректным адресом"
      ></form-error-message>

      <input-text label="Пароль"
                  type="password"
                  name="password"
                  model="user.password"
                  req="true"
      ></input-text>
      <form-error-message
              show-error-expr="loginForm.password.$invalid && loginForm.email.$touched"
              error-message="Пароль обязателен"
      ></form-error-message>

    </fieldset>

    <form-btn-submit icon-text="account_circle" text="Воити" disabled-condition="loginForm.$invalid || showLoading" ></form-btn-submit>

    <div  ng-hide="loginForm.$valid">
      <btn-link state="register" text="Зарегистрироваться" icon-text="add"></btn-link>
    </div>


  </form>
</section>
