<!--label-->
<!--fieldName-->
<!--model-->

<div class="form-group" >
    <label class="col-md-2 control-label" for="{{name}}">{{label}}</label>
    <div class="col-md-10">
        <input class="form-control"  type="{{type}}" name="{{name}}" id="{{name}}"  placeholder="{{label}}"
               ng-model="model" ng-required="req">
    </div>

</div>


