    <section class="well">

        <form name="updateItemForm" class="form-horizontal"
              ng-submit="update()"
              novalidate>

            <fieldset>

                <legend>Редактирование товара (услуги)</legend>

                <input-text label="Назвние"
                            type="text"
                            name="title"
                            model="item.title"
                            req="true"
                ></input-text>

                <form-error-message
                        show-error-expr="createItemForm.title.$invalid && createItemForm.title.$touched"
                        error-message="Обязательное поле"
                ></form-error-message>



                <form-select-items label="Категория" name="targetCategory" option-label="Выберите категорию" items="categories"
                                   result-item="item.category" req="true">

                </form-select-items>


                <form-error-message
                        show-error-expr="createItemForm.targetCategory.$invalid && createItemForm.targetCategory.$touched"
                        error-message="Выберите категорию"
                ></form-error-message>



                <form-input-number
                        label="Цена"
                        name="price"
                        model="item.price"
                        req="true"
                        min="0"
                ></form-input-number>



                <input-text label="Артикул" name="article" model="item.article"></input-text>
                <input-text label="Описание" name="description" model="item.description"></input-text>

<form-radio-enabled name="enabled" model="item" label="Активен"></form-radio-enabled>

            </fieldset>

            <progress-action show="showLoading" message="Обновление..."></progress-action>
        <form-btn-submit text="Обновить" disabled-condition="updateItemForm.$invalid || showLoading"></form-btn-submit>
        </form>

        <btn-back route="item.list"></btn-back>

    </section>

