<div ng-show="message" class="well">
    <p class="message" ng-show="message">{{ message }}</p>
</div>

<section class="well">


    <div ng-show="!displayForm() && hasOwnerFeatures">
        <div class="alert alert-info">
            <h2>Для создания новой продажи необходимо создать:</h2>
            <ul>
                <li ng-show="workpoints.length == 0">Точки продаж <a class="btn btn-default btn-raised"
                                                                     ui-sref="workpoint.create">Создать</a></li>
                <li ng-show="categories.length == 0">Категории <a class="btn btn-default btn-raised"
                                                                  ui-sref="workpoint.create">Создать</a></li>
                <li ng-show="items.length == 0">Товары <a class="btn btn-default btn-raised" ui-sref="item.create">Создать</a>
                </li>

            </ul>

        </div>
    </div>

    <form ng-show="displayForm()" name="createOrderForm" class="form-horizontal"
          novalidate>

        <fieldset>

            <legend>Оформить продажу</legend>

            <input-text label="Номер чека"
                        type="text"
                        name="checkNumber"
                        model="order.checkNumber"
            ></input-text>

            <table class="table table-condensed">
                <thead>

                <tr>
                    <th>Товары (услуги)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="orderItem in orderItems">
                    <td><a ui-sref="order.editItem({id:order.$id,item:oderItem.$id})"> {{orderItem.title }} *
                        {{orderItem.count}} = {{orderItem.price}} </a></td>
                    <td>
                        <button class="btn btn-danger btn-raised" ng-click="removeOrderItem(orderItem)"><i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><a ui-sref="order.addItem({id:order.$id})" class="btn btn-primary btn-raised"><i
                            class="material-icons">add</i></a></td>
                    <td></td>

                </tr>
                </tbody>
            </table>

            <form-input-number
                    label="Скидка в рублях"
                    name="discount"
                    model="order.discount"
                    min="0"
            ></form-input-number>

            <input-text label="Комментарий к скидке" name="order.discountComment" model="order.discountComment"></input-text>

            <form-input-number
                    label="Доп цена"
                    name="customCost"
                    model="order.customCost"

            ></form-input-number>

            <input-text label="Комментарий к заказу" name="order.comment" model="order.comment"></input-text>


            <h2>Итог: <strong>{{calculateCost()}}</strong></h2>

        </fieldset>
        <progress-action show="showLoading" message="Сохранение..."></progress-action>
        <form-btn-submit text="Оформить" ng-click="finish()" `
                         disabled-condition="createOrderForm.$invalid || showLoading || calculateCost() == 0"></form-btn-submit>
        <form-btn-submit text="Сохранить черновик" ng-click="saveTemp()"
                         disabled-condition="createOrderForm.$invalid || showLoading"></form-btn-submit>

        <!--<a class="btn btn-default btn-raised" ui-sref="order.list"><i class="material-icons">keyboard_backspace</i></a>-->
   <btn-back route="order.list"></btn-back>
    </form>
</section>