<div>
    <div class="well">

        <h2 class="">Список пользователей</h2>

        <message-info></message-info>

<div>
        <h3>Редактировать профиль</h3>
        <a class="btn-block"  ui-sref="user.editProfile()">
            <strong>{{ currentUser.email }}</strong>
        </a>
    <div ng-show="!currentUser.workpointId">
        <div class="alert alert-danger">
            <strong>Для добавления продаж для аккунта {{currentUser.email}} необходимо указать точку продаж!</strong>
        </div>
    </div>

</div>


        <div ng-show="users.length == 0">
            <h3>Пользователей нет</h3>
        </div>

        <h4 class="">Работники</h4>

        <table class="table table-striped">

            <thead>
            <tr>

                <th class="hidden-xs">
                    Точка продаж
                </th>
                <th class="hidden-xs">
                    Статус
                </th>
                <th>
                    Email <span class="hidden-xs"> ФИО </span>
                </th>


            </tr>
            </thead>
            <tbody>




            <tr ng-repeat="user in users">


                <td class="hidden-xs">
                  {{ getWorkpointName(user.workpointId)}}
                </td>

                <td class="hidden-xs">
                    <span ng-show="!user.enabled" class="label label-default">Не работет</span>
                    <span ng-show="user.enabled" class="label label-success">Работает</span>
                </td>



                <td>
                    <a class="btn-block"  ui-sref="user.edit({id:user.$id})">
                        <strong>{{ user.email }} <span class="hidden-xs">{{user.lastname}} {{user.firstname}} {{user.middlename}}</span></strong>

                    </a>
                </td>

            </tr>
            <tr>
                <td class="hidden-xs">
                </td>
                <td class="hidden-xs">

                </td>

                <td>
                    <btn-fab-add route="user.create"></btn-fab-add>
                </td>

            </tr>
        </tbody>
        </table>

    </div>
</div>