<div>
    <div class="well">
        <h2 class="">Список продаж</h2>
        <div ng-show="orders.length == 0">
            <h3>Продаж нет</h3>
        </div>


        <message-info></message-info>


        <h3><strong>Сумма проданного : {{totalOrderSumm()}}<strong></h3>

        <table class="table table-striped">

            <thead>
            <tr>
                <th class="hidden-xs">
                    Статус
                </th>

                <th class="hidden-xs">
                    Дата изменения
                </th>
                <th>
                    Заказ
                </th>

                <th>
                    Сумма
                </th>

                <th class="hidden-xs">
                    Точка
                </th>
                <th class="hidden-xs">
                    Действие
                </th>

            </tr>
            </thead>
            <tbody>

            <input ng-model="startDate" >
            <input ng-model="endDate" >


            <tr ng-repeat="order in orders |usercreated:currentUser:hasOwnerFeatures| daterange:startDate:endDate">

                <td class="hidden-xs">
                    <span ng-show="!order.enabled" class="label label-default">Черновик</span>
                    <span ng-show="order.enabled" class="label label-success">Опубликован</span>
                </td>


            <td class="hidden-xs">
                <strong>{{order.updated | date:'dd-MM-yyyy HH:mm:ss' }}</strong>
            </td>

                <td >
                    <strong>{{order.title }}</strong>
                </td>

                <td>
                    <a ng-show="!order.enabled" class="btn-block"  ui-sref="order.create({id:order.$id})">
                        <strong>{{ order.totalCost }}</strong>
                    </a>
                    <p ng-show="order.enabled">
                        <strong>{{ order.totalCost }}</strong>
                    </p>
                </td>


                <td class="hidden-xs">
                {{ getWorkpointName(order.workpoint)}}
                </td>
                <td>
                    <button ng-show="!order.enabled" class="btn btn-danger btn-raised"  ng-click="remove(order)">
                        <i class="material-icons">delete</i>
                    </button>

                </td>
            </tr>
            <tr>
                <td class="hidden-xs">
                </td>
                <td class="hidden-xs"></td>
                <td></td>
                <td></td>
                <td class="hidden-xs"></td>
                <td>
                    <button class="btn btn-primary btn-fab" ng-click="createOrder()"><i class="material-icons">add</i></button>
                </td>

            </tr>
        </tbody>
        </table>

    </div>
</div>