<div class="form-group">
    <label class="col-md-2 control-label">{{label}}</label>

    <div class="col-md-10">
        <div class="">
            <label>
                <input name="{{name}}"  ng-model="model.enabled" id="{{name}}1" ng-value="true"  type="radio">
Работает
            </label>
        </div>
        <div class="">
            <label>
                <input name="{{name}}" ng-model="model.enabled" id="{{name}}2" ng-value="false" type="radio">
                Не работает
            </label>

        </div>
    </div>
</div>
